@import '../../../assets/styles/settings';

.card{
  border-top: 1px solid $navAccent;
  text-align: left;
  padding-bottom: 10px;
  &:hover{
    background-color: rgba(teal, 0.1);
    box-shadow: 2px 2px 2px $navAccent;
    cursor: pointer;
  }

  h2{
    font-size: 100%;
    padding: 10px 20px;
    margin: 0;
  }
  p{
    padding: 0px 20px;
  }

}
