@import '../../../assets/styles/_settings.scss';

.header {
  // height: 10%;
  background-color: $navPrimary;
  // box-shadow: 0 4px 5px #777;
  padding: 20px;
  text-align: center;
  border-bottom: 1px #ccc solid;

  h1 {
    margin: 0;
    color: $navAccent;
    font-size: 100%;
  }

}

.sideNav {
  // height: 90%;
  background-color: $sidePrimary;
  flex: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  .upper{
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    font-size: 100%;
    color: $navAccent;
    padding: 20px;
    border-bottom: 1px #ccc solid;

    &.active {
      color: black;
    }

    &:hover {
      background-color: $sidePrimaryHover;
    }
  }
  .logout{
    border-top: 1px #ccc solid;
  }

}
