@import '../../assets/styles/_settings.scss';

.body{
  display:block;
  background-color:#2f3242;

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.messageBox {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: $gray;
  font-family: Roboto;
  font-weight: 300;
}
.messageBox h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttonsCon .actionLinkWrap {
  margin-top: 40px;
}
.buttonsCon .actionLinkWrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttonsCon .actionLinkWrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

.Polygon1 , .Polygon2 , .Polygon3 , .Polygon4 , .Polygon4, .Polygon5 {
  animation: float 1s infinite ease-in-out alternate;
}
.Polygon2 {
  animation-delay: .2s;
}
.Polygon3 {
  animation-delay: .4s;
}
.Polygon4 {
  animation-delay: .6s;
}
.Polygon5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .messageBox {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
}