.Rides{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  width: 100%;
}

.Ride {
  padding: 10px;
  border: 1px #eee solid;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #eee;
  margin: 10px;
  cursor: pointer;
  &:hover{
    background: #eee;
  }
  h2 {
    text-align: left;
    color: #444;
  }

  .driver {
    border: 1px #ccc solid;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #eee;
  }
}

@media screen and (max-width: 700px){
  .Rides{
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 1090px) and (min-width: 690px){
  .Rides{
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1450px){
  .Rides{
    grid-template-columns: auto auto auto auto;
  }
}
