
@import '../../../assets/styles/settings';

.input{
  width: 90%;
  border-radius: 5px;
  border: 1px $gray solid;
  height: 40px;
  margin: 20px auto;
  appearance: none;
  padding: 1px 5px;
  text-align: center;
  &::placeholder{
    color: #ddd;
  }
  &:focus{
    border: 1px $navPrimary solid;
    outline: none;
  }
}