@import '../../assets/styles/_settings.scss';

.SideBar{
  // left: -90%;
  top: 0;
  height: 100vh;
  flex: 1 20%;
  background-color: $sidePrimary;
  flex-shrink: 0;
  color: #ccc;
  z-index: 9999;
  .inner{
    position: fixed;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
  }
}
