.SingleRide{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .SingleCard{
    padding: 20px;
    flex: 1;
    border: 1px solid #eee;
    margin: 5px;
    border-radius: 5px;
  }
}

.join {
  padding: 10px;
  color: #fff;
  background-color: #0e83c4;
  border-radius: 5px;
  font-weight: bold;
  font-size: 150%;
  width: 90%;
  margin: 10px 5%;
  cursor: pointer;
  &:hover{
    background-color: #0d68a1;
  }
}
