// colors
$navPrimary: teal;
$navAccent: #dad6d6;
$background: #eee;
$gray: #ccc;
$danger: #ef5350;
$navHover: teal;
$sidePrimary: #2f3642;
$sidePrimaryHover: #566377;

// sizes

$pad1: 20px;
$logo: 30px;
