@import '../../../assets/styles/_settings.scss';


.Nav {
  display: flex;
  border-bottom: 1px $navAccent solid;
  justify-content: flex-end;
  align-items: center;
  padding: 0px $pad1;
}

.NavItems {
  list-style: none;
  align-items: center;
  display: flex;

  a {
    display: block;
    text-decoration: none;
    color: $navAccent;
    padding: 18% $pad1;
    font-size: 100%;
    transition: .5s ease-in-out;

    &:hover {
      background-color: $navAccent;
      color: white;
    }
  }


}