.message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #20c392;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: left;

  &:hover{
    background: #73e2c0;
  }

h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
  text-align: left;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #333;
&:hover {
  color: #555;
}
}
.content {
  max-height: 30%;
  color: #fff;
  text-align: left;
}
}

.popupError {
  margin: 70px auto;
  padding: 20px;
  background: #d16868;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
  text-align: left;
  &:hover{
    background: #e89393;
  }
h2 {
  margin-top: 0;
  color: #fff;
  font-family: Tahoma, Arial, sans-serif;
  text-align: left;
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #333;
&:hover {
  color: #555;
}
}
.content {
  max-height: 30%;
  color: #fff;
  text-align: left;
}
}

}
@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
